<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 注解方式， 指定bean可能出现的位置 -->
    <context:component-scan base-package="com.orchard.api"/>

    <!-- 引入外部的属性文件 -->
    <context:property-placeholder location="classpath:db.properties"/>

    <!-- 配制数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${db.driverClass}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <property name="initialSize" value="${db.initialSize}"/>
        <property name="minIdle" value="${db.minIdle}"/>
        <property name="maxTotal" value="${db.maxTotal}"/>

        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>

        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000"/>

        <property name="validationQuery" value="SELECT 1"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>

        <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
        <property name="poolPreparedStatements" value="true"/>
    </bean>

    <!-- 配制mybatis框架整合 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/> <!-- 数据源 -->
        <property name="typeAliasesPackage" value="com.orchard.api.entity"/> <!-- 采用别名的实体类的包 -->
        <property name="mapperLocations" value="classpath:mapper/*Mapper.xml"/> <!-- 配制映射文件 -->
    </bean>

    <!-- 配制mybatis的mapper bean -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.orchard.api"/>  <!-- 配制映射接口所在有包 -->
        <property name="sqlSessionFactoryBeanName"
                  value="sqlSessionFactory"/> <!-- 映射SqlSessionFactory在Spring容器中的Bean的id值 -->
    </bean>

    <!-- 响应处理，视图处理器配制 -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/page/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <!-- 默认静态资源的请求处理 -->
    <mvc:default-servlet-handler/>
    <mvc:resources location="js, css, fonts, img, scss, page" mapping="/js/**, /css/**, /fonts/**, /img/**, /scss/**, /page/**"/>
    <mvc:annotation-driven/>

</beans>