<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orchard.api.mapper.FacilityMapper">

    <resultMap id="userBean" type="com.orchard.api.entity.Facility">
        <id property="facilityId" column="facility_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="facilityName" column="facility_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="facilityCode" column="facility_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="facilityIp" column="facility_ip" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    
    <select id="findAll" resultMap="userBean">
        select * from orchard.Facility;
    </select>

    <select id="findOneById" resultMap="userBean" parameterType="java.lang.Long">
        select * from orchard.Facility where facility_id=#{id}
    </select>

</mapper>