<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orchard.api.mapper.RoleMapper">

    <resultMap id="userBean" type="com.orchard.api.entity.Role">
        <id column="role_id" javaType="java.lang.Long" jdbcType="BIGINT" property="roleId"/>
        <result property="roleName" column="role_name" javaType="java.lang.String"/>
        <result property="roleCode" column="role_code" javaType="java.lang.String"/>
    </resultMap>
    
    <select id="findAll" resultMap="userBean">
        select * from orchard.Role;
    </select>

    <select id="findOneById" resultMap="userBean" parameterType="java.lang.Long">
        select * from orchard.Role where role_id=#{id}
    </select>

</mapper>