<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orchard.api.mapper.UserMapper">

    <resultMap id="userBean" type="com.orchard.api.entity.User">
        <id column="user_id" javaType="java.lang.Long" jdbcType="bigint" property="userId"/>
        <result property="userName" column="user_name" javaType="java.lang.String"/>
        <result property="userPassword" column="user_password" javaType="java.lang.String"/>
        <result property="userCode" column="user_code" javaType="java.lang.String"/>
    </resultMap>
    
    <select id="findAll" resultMap="userBean">
        select * from user;
    </select>
</mapper>